*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(183, 181, 181);
}
.main{
  background-color: #f2ebeb;
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin: 5rem 0;
  padding: 2.5rem;
  border-radius: 0.5rem;
}
.whole{
  display: flex;
  justify-content: center;
  
}
button{
  padding: 1rem;
}
span{
  line-height: 50px;
  font-size: 1.5rem;
}